.ticket {
  text-align: left;
  margin-left: -51px;
  width: 502px;
  min-height: 184px;
  margin-top: 20px;
  background-color: #FFFFFF;

  &__company-name {
    display: inline-block;
  }

  &__bookingInfo {
    display: flex;
    justify-content: space-between;
  }

  &__price {
    margin-left: 20px;
    margin-top: 26px;
    color: #2196F3;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
  }

  &__companyName {
    margin-top: 20px;
    margin-right: 20px;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    &:first-child {
      margin-top: 20px;
    }

    &:not(:first-child) {
      margin-top: 10px;
    }

    &Route {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }

    &EnRoute {
      text-align: left;
      display: flex;
      flex-direction: column;
    }

    &Transplants {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
    }
  }

  &__allocated {
    color: #A0B0B9;
  }
}