.aviasales{
  &Header{

  }
  &Main {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;

    &Left {
      width: 30%;
    }
    &Right{
      width: 70%;
      &Loader{
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-left: 175px;
      }

    }
  }
  &Footer{

  }
}